/*
    AUTO GRID
    set the minimum items size with `--auto-grid-min-size` and you'll
    get a fully responsive grid with no media queries
*/
.auto-grid {
    --auto-grid-min-size: 16rem;

    display: grid;
    grid-template-columns: repeat(auto-fill,
minmax(var(--auto-grid-min-size), 1fr));
    grid-gap: 1rem;
}

body {
    background: #efefef;
    padding: 1rem;
    line-height: 1.4;
    font-family: sans-serif;
}

li {
    padding: 5rem 1rem;
    text-align: center;
    font-size: 1.2rem;
    background: #eb4d4b;
    color: #ffffff;
}

.stage {
    border-bottom: 3px solid #444;
    display: flex;
    height: 330px;
    width: 100%;
}
.box {
    align-self: flex-end;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    background-color: #f44336;
    height: 200px;
    margin: 0 auto 0 auto;
    transform-origin: bottom;
    width: 200px;
}
.bounce-6 {
    animation-name: bounce-6;
    animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
}
@keyframes bounce-6 {
    0% { transform: scale(1,1)
translateY(0); }
    10% { transform: scale(1.1,.9)
translateY(0); }
    30% { transform: scale(.9, 1.1)
translateY(-100px); }
    50% { transform: scale(1.05, .95)
translateY(0); }
    57% { transform: scale(1,1)
translateY(-7px); }
    64% { transform: scale(1,1) 
translateY(0); }
    100% { transform: scale(1,1)
translateY(0); }
}

